
<div class="row" style="margin-top: 1vh;">
  <div class="col-md-6 col-md-offset-1">
    <span id="progress"><%= @processed  %> Terms Processed <span class="pull-right"><%= (@status == 'In Progress' ? 'Matching in progress...' : 'Matching complete')%></span></span>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-primary" id="progressbar" style="width: <%= @processed  %>">
      </div>
    </div>
  </div>
  <div class="col-md-9 col-md-offset-1">
    <table id="searchItems" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Searched Item</th>
        <th>Number of Matches</th>
        <th>Confirmed Match</th>
        <th>Status</th>
        <th style="text-align: center; min-width: 14vw;">Action</th>
      </tr>
      </thead>
      <tbody id="content-body">
      <% (@records || []).each do |search| %>
          <tr id="item-<%= search.id %>">
            <td><%= search.id %></td>
            <td><%= search.search_term %></td>
            <td><span style="text-align: center;"><%= search.matches %></span></td>
            <td><%= search.confirmed_match %></td>
            <td><%= search.display_status %></td>
            <td class="text-center">
              <% if search.confirmed_matches.blank? %>
                <%= link_to "<span class='glyphicon glyphicon-plus'></span> Add Entry".html_safe,
                          "/local_concepts/new?id=#{search.id}",class: 'btn btn-success',
                          'data-toggle' => 'modal', 'data-target'=> '#appModal', 'data-remote' => 'true' %>
              <% else %>
                  <%= link_to "<span class='glyphicon glyphicon-plus'></span> Add Brand Name".html_safe,
                              "/local_concepts/brand_name_new?id=#{search.id}",class: 'btn btn-success',
                              'data-toggle' => 'modal', 'data-target'=> '#appModal', 'data-remote' => 'true' %>
              <% end %>

              <%= link_to "<span class='glyphicon glyphicon-eye-open'></span> Verify".html_safe,
                          "/search_items/#{search.id}/edit",class: 'btn btn-primary',
                           'data-toggle' => 'modal', 'data-target'=> '#appModal', 'data-remote' => 'true' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
    var myTime;
    var table = $('#searchItems').DataTable(
        {  "lengthChange": false,
            "pageLength": 13,
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    'sortable': true,
                    "visible": false,
                    "searchable": false
                }]
        }
    );


    function addNewRows(records,target)
    {
        table
            .clear()
            .draw();
        table.rows.add(records['arrays']).draw( false );
        if (records['status'] == 'In Progress')
        {
            $('#progress').innerHTML = records['progress'] + " Terms Processed <span class='pull-right'>Matching in progress ..</span>"
            $('#progressbar').css('width',records['progress'])
            myTime = setTimeout("check_job_progress('/batch_jobs/show_update/<%= @job %>','addNewRows','searchItems')",90000)
        }
        else
        {
            $('#progress').innerHTML = "100% Terms Processed <span class='pull-right'>Matching complete</span>"
            $('#progressbar').css('width','100%')
            clearTimeout(myTime);
        }

    }
    <% if @status == 'In Progress'%>
      myTime = setTimeout("check_job_progress('/batch_jobs/show_update/<%= @job %>','addNewRows','searchItems')",90000)
    <% else %>
      clearTimeout(myTime);
    <% end %>
</script>